<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="logo-wrapper" [routerLink]="'/'">
    <app-logo></app-logo>
  </div>
  <ul class="nav-links">
    <li><a [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a [routerLink]="'/projetos'" routerLinkActive="active">Projetos</a></li>
    <li><a [routerLink]="'/sobre'" routerLinkActive="active">Sobre</a></li>
    <li class="social-link">
      <a href="https://www.linkedin.com/in/guilherme-rondon-5476a5195" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</nav>
