/* App Global Styles */

.changelog-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  width: 100%;
  background: transparent !important;
  border: none !important;
  margin-top: auto;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
